**

!webapp
!webapp/dist**
!webapp/nginx-conf**

!/hla_seq_db/**
!/hla_seq_db/data/**
!/hla_seq_db/data/*3500.csv.gz
!/conf/**
!logs
!docker-entrypoint-unified-prod.sh
!server.py
!wsgi.py
!requirements.txt

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
